.sidebar {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  z-index: 900;
  background-color: #eebc25;
  opacity: 0.9;
  padding: 1.5rem 2rem;
  transition: 0.2s ease-in;

  .sidebarHeader{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      border: none;
      background: transparent;

      .closeIcon {
        font-size: 1.5rem;
      }
    }
  }

  .sidebarLink {
    margin-top: 12rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      font-family: 'Open Sans';
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

.sidebar.open {
  transition: 0.2s ease-in;
  right: 0;
}