.navbar {
  transition: all 500ms ease-out;
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem 2rem;
  background: transparent;

  .navDesktop {
    display: none;
  }

  .navMobile {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      img {
        width: 4rem;
        height: auto;
      }
    }

    .hamburgerMenu {
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      button {
        border: none;
        background: transparent;
        padding: 0 1.5rem;
        svg {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .navbar {
    .navDesktop {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      text-align: center;
      transition: 0.2s ease-in;

      a {
        text-transform: uppercase;
        font-size: 0.8rem;
        cursor: pointer;
        font-weight: 600;

        &:hover {
          transform: scale(1.2);
          transition: 0.2s ease-in;
        }

        img {
          width: 6rem;
          height: auto;
        }
      }
    }

    .navMobile {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: 1.5rem 15%;
  }
}